@font-face {
  font-family: my_font;
  src: url(lobster/Lobster-Regular.ttf);
}
a {
  text-decoration: none;
}
body {
  font-family: my_font, sans-serif;
}

.link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.heading1 {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.paragrph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.heading2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
.heading3 {
  display: contents;
  color: rgb(35, 95, 206);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  margin-right: 15px;
}
.paragrph1 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.img {
  float: left;
  margin-right: 15px;
}
.input {
  width: 175px;
  height: 40px;
  outline-color: rgb(189, 102, 114);
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 14px;
  line-height: 10px;
}
.button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid rgb(22, 150, 189);
  border-radius: 20px;
}
.link:hover {
  color: #a34f4f;
}
.button:active {
  background-color: #4fa368;
}
